.DS_Store

/vendor/

/_cache/*
!/_cache/.keep

/Csv/*
!/Csv/.keep

/Recordings/*
!/Recordings/.keep

_credentials.php




# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/